<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <meta charset="UTF-8">
    <title>定时访问器</title>
    <link rel="stylesheet" href="css/global.css">
    <link rel="stylesheet" href="css/layui.css">
    <style>
        .logo {
            position: absolute;
            left: 12px;
            top: 8px;
        }

        .logo img {
            width: 48px;
            height: 48px;
        }

        .layui-tab-content {
            position: relative;
            margin: 0 auto 35px !important;
            max-width: 1140px;
            padding-top: 20px;
        }
    </style>
</head>
<body>
<div class="layui-layout layui-layout-admin">
    <div class="layui-tab-content">
        <blockquote class="layui-elem-quote" style="text-align: center">北京时间：{{now.string}}<br>【该时间通过京东服务器接口实时获取，500ms获取一次，同时也以500ms为间隔去对比北京时间和定时时间】
        </blockquote>
        <div class="layui-form">
            <div class="layui-form-item">
                <label class="layui-form-label">定时时间：</label>
                <div class="layui-input-inline" style="width:480px">
                    <input style="width: 60px;display:inline" type="text" name="year" :disabled="is_post"
                           v-model="post_time.year" required lay-verify="required|number" placeholder="年"
                           autocomplete="off" class="layui-input">
                    <input style="width: 60px;display:inline" type="text" name="mouth" :disabled="is_post"
                           v-model="post_time.month" required lay-verify="required|number" placeholder="月"
                           autocomplete="off" class="layui-input">
                    <input style="width: 60px;display:inline" type="text" name="day" :disabled="is_post"
                           v-model="post_time.day" required lay-verify="required|number" placeholder="日"
                           autocomplete="off" class="layui-input">
                    <input style="width: 60px;display:inline" type="text" name="hour" :disabled="is_post"
                           v-model="post_time.hour" required lay-verify="required|number" placeholder="时"
                           autocomplete="off" class="layui-input">
                    <input style="width: 60px;display:inline" type="text" name="minutes" :disabled="is_post"
                           v-model="post_time.minutes" required lay-verify="required|number" placeholder="分"
                           autocomplete="off" class="layui-input">
                    <input style="width: 60px;display:inline" type="text" name="second" :disabled="is_post"
                           v-model="post_time.second" required lay-verify="required|number" placeholder="秒"
                           autocomplete="off" class="layui-input">
                    <input style="width: 60px;display:inline" type="text" name="millisecond" :disabled="is_post"
                           v-model="post_time.millisecond" required lay-verify="required|number" placeholder="毫秒"
                           autocomplete="off" class="layui-input">
                </div>
                <div class="layui-form-mid layui-word-aux">时间格式：2017-01-07 00-00-00-000</div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">刷新间隔：</label>
                <div class="layui-input-inline">
                    <input type="text" name="title" :disabled="is_post" v-model="post_span" required
                           lay-verify="required|number" value="500" autocomplete="off" class="layui-input">
                </div>
                <div class="layui-form-mid layui-word-aux">提交的间隔时间，默认：500(ms)</div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">窗口数目：</label>
                <div class="layui-input-inline">
                    <input type="text" name="title" :disabled="is_post" v-model="post_window_count" required
                           lay-verify="required|number" value="1" autocomplete="off" class="layui-input" disabled>
                </div>
                <div class="layui-form-mid layui-word-aux">开启的窗口数目 默认：1</div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">提交次数：</label>
                <div class="layui-input-inline">
                    <input type="text" name="title" :disabled="is_post" v-model="post_count" required value="0"
                           lay-verify="required|number"
                           autocomplete="off" class="layui-input">
                </div>
                <div class="layui-form-mid layui-word-aux">指所有窗口的提交次数的总数 默认：0【无限次】</div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">提交模式：</label>
                <div class="layui-input-inline">
                    <input type="text" name="title" :disabled="is_post" v-model="post_mode" required
                           lay-verify="required|number" value="1" autocomplete="off" class="layui-input">
                </div>
                <div class="layui-form-mid layui-word-aux">1:iFrame 2:GET【一般iFrame满足大部分需求】</div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">提交地址：</label>
                <!--<div class="layui-input-inline">-->
                <!--<input type="text" name="title" :disabled="is_post" v-show="!is_post" v-model="post_url" required-->
                <!--lay-verify="required|url" autocomplete="off" class="layui-input">-->
                <!--<input type="text" name="title" disabled v-model="post_url_temp" v-show="is_post" autocomplete="off"-->
                <!--class="layui-input">-->
                <!--</div>-->
                <!--<div class="layui-form-mid layui-word-aux">提交地址，举个栗子：【http://m.baidu.com/】</div>-->
                <div class="layui-input-block">
                    <textarea name="desc" placeholder="请输入内容" class="layui-textarea" v-model="post_url" required></textarea>
                </div>
            </div>
            <div class="layui-form-item">
                <div class="layui-input-block" v-if="!is_post">
                    <button type="button" class="layui-btn layui-btn-normal" lay-submit lay-filter="post">定时提交</button>
                </div>
                <div class="layui-input-block" v-else>
                    <button type="button" class="layui-btn layui-btn-warm" lay-submit lay-filter="post">取消提交</button>
                </div>
            </div>
        </div>
        <hr class="layui-bg-blue">
        <blockquote class="layui-elem-quote" v-show="is_post">
            请根据下面窗口返回的显示内容判断提交的链接是否正确有效！
            <br>已经开启定时,距离自动提交时间还有：<span>{{count_down.day}}天</span> <span>{{count_down.hour}}时</span> <span>{{count_down.minutes}}分</span>
            <span>{{count_down.second}}秒</span><span>{{count_down.millisecond}}毫秒</span>
            <br>首次提交时间：{{first_commit_time}}
            <br>已提交次数：{{has_post_count}}
        </blockquote>
        <iframe style="width:370px; height:200px;" :src="post_url" v-show="is_post&&post_mode==1" frameborder="1"
                v-for="item in post_window_arr"></iframe>
        <div class="resContent">
            <p class="resStr"  v-show="is_post&&post_mode!=1">{{post_res}}</p>
        </div>
    </div>
</div>
<script type="text/javascript" src="js/vue.min.js"></script>
<script type="text/javascript" src="js/layui.all.js"></script>
<script type="text/javascript" src="js/submitter.js"></script>
</body>
</html>